.vic_text {
    display: block;
    min-width: 50px;
    max-width: 167px;
    position: relative;
    // outline: 1px solid red;

    .vic_text__label {
        // outline: 1px solid red;
        width: auto;
    }

    .vic_text__icon {
        font-size: var(--h5);
        position: absolute;
        bottom: 3.2px;
        right: 3.2px;
    }

    .vic_text__input {
        display: block;
        padding: var(--padding);
        border: 2px solid var(--main);
        outline: none;

        &::placeholder {
            color: var(--main);
        }

        &:focus {}

    }

    &.test_fail {
        .vic_text__icon {
            color: var(--red-6);
        }

        .vic_text__input {
            border-color: var(--red-6);
            color: var(--red-6);
        }
    }
}