@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    letter-spacing: 1px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Saira Condensed', 'Noto Serif TC', sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --padding: 2px 4px;

    --main: #000;
    --main-opposite: #fff;

    --blue: #409EFF;
    --blue-1: #ecf5ff;
    --blue-2: #d9ecff;
    --blue-3: #c6e2ff;
    --blue-4: #a0cfff;
    --blue-5: #79bbff;
    --blue-6: #337ecc;

    --green: #67C23A;
    --green-1: #f0f9eb;
    --green-2: #e1f3d8;
    --green-3: #d1edc4;
    --green-4: #b3e19d;
    --green-5: #95d475;
    --green-6: #529b2e;

    --brown: #E6A23C;
    --brown-1: #fdf6ec;
    --brown-2: #faecd8;
    --brown-3: #f8e3c5;
    --brown-4: #f3d19e;
    --brown-5: #eebe77;
    --brown-6: #b88230;

    --red: #F56C6C;
    --red-1: #fef0f0;
    --red-2: #fde2e2;
    --red-3: #fcd3d3;
    --red-4: #fab6b6;
    --red-5: #f89898;
    --red-6: #c45656;

    --gray: #909399;
    --gray-1: #f4f4f5;
    --gray-2: #e9e9eb;
    --gray-3: #dedfe0;
    --gray-4: #c8c9cc;
    --gray-5: #b1b3b8;
    --gray-6: #73767a;

    transition: all .3s ease-out;
}

body.dark {
    --main: #fff;
    --main-opposite: #000;

    background: var(--main-opposite);
}

*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-track {
    background: var(--main-opposite);
    /* border: 1px solid var(--main); */
}

*::-webkit-scrollbar-thumb {
    background: var(--main);
}

code {
    /* font-family: source-code-pro, Menlo,
        Monaco, Consolas, "Courier New",
        monospace;*/
    letter-spacing: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
a,
li {
    color: var(--main);
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

p,
div,
a,
li {
    font-size: 16px;
}

a {
    text-decoration: none;
    color: var(--main);
    display: inline-block;
    padding: var(--padding);
    position: relative;
}

a::after {
    content: "";
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    position: absolute;
    top: 0px;
    left: 0px;
}

a:hover::after {
    border: 1px dashed var(--main);
}

ul,
ol {
    padding: 0;
}

li {
    padding-left: 1rem;
    position: relative;
}

li::before {
    content: "";
    width: 6px;
    height: 1px;
    background: var(--main);
    position: absolute;
    top: 0.75rem;
    left: 0.25rem;
}

svg.MuiSvgIcon-root {
    font-size: 32px;
}