.sidebar {
    padding-top: 1rem;
    a {
        width: 100%;
        padding-left: 1rem;
    }
    > div {
        > div:nth-child(1) {
            > a {
                font-size: 24px;
            }
        }
        > div:nth-child(2) {

        }
    }
}